.aboutHome{
    height: auto;
    width: 100%;
}

.aboutHome #heading{
    text-align: left;
    padding: 0;   
}

.aboutHome .left img{
    /* margin-top: 30px; */
    width: 90%;
    height: 100%;
    object-fit: cover;
    padding-top: 65px;
    padding-bottom: 50px;
}

.aboutHome .right{
    padding: 90px 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutHome .items{
    margin-top: 50px;
}

.aboutHome .items{
    background-color: #fff;
    margin-top: 30px;
    padding: 10px;
    transition: 0.5s;
}